@import "scss/helpers/variables";
@import "scss/helpers/all";
@import "scss/base/reset";
@import "scss/base/type";

/*
 *
 * Enable google webkit font smoothing
 * Reset to border-box
 * Setting up font family
 */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //change the default tap highlight color, when you tap on mobile device
  -webkit-tap-highlight-color: transparent;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  font: {
    size: 100%;
    family: $font-family-base; // variables inside partials > _variables.scss
  }
  color: $gray-dark;
  background: $main-bg-color;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.splash {
  display: none;
}
 
[ng-cloak].splash {
  display: block !important;
}
    
.splash {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%; 
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #000;
}
 
.splash h2 {
  text-align: center;
  font-size: 4em;
  color:white;      
}

